:host {
  display: flex;
  align-items: center;

  &::ng-deep > :not(:last-child) {
    margin-right: 5px;
  }
}

.sky-list-toolbar-view-actions ::ng-deep > :not(:last-child) {
  margin-right: 5px;
}
